@import "tailwindcss";

/* 🔒 ROOT OVERFLOW FIX */
html,
body {
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: clip;
}


/* UTILITIES */
.clip-trapezoid {
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
